table {

    background-color: #ffffcc;
    border: 3px outset;
    text-align: center;
    color: #6a0000;

}

thead {

    background-color: #669966;

}

tbody {

    background-color: #ffffcc;

}

td {

    border: 1px inset;

}

.wide {

    padding-left: 100px;
    padding-right: 100px;

}

.orange {
    background-color: #ffcc99;
}

.yellow {
    background-color: #ffff99;
}