table {

    background-color: #0099cc;
    border: 3px outset;

}

thead {

    background-color: #003333;
    color: #ccffcc;

}

tbody {

    background-color: #ccffcc;
    text-align: left;

}

th, td {

    border: 1px inset;

}

tfoot {

    background-color: #99cc99;
    text-align: left;

}

.wide {

    padding-left: 40px;
    padding-right: 40px;

}

.rate {

    font-weight: bold;
    text-align: center;

}